<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.host}}/styles/styles.css">
</head>
<body>

<div>
    <h1>Dratuti</h1>

    <div id="gallery"></div>
</div>
<script src="{{htmlWebpackPlugin.options.host}}/application.js"></script>
</body>
</html>